.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

header {
  background-color: #242424;
  color: white;
}

.info {
  background: yellowgreen;
  padding: 1rem 1.5rem;
  text-align: center;
  color: #616161;
  font-weight: bold;
}

.header-container {
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main {
  background-color: #616161;
  color: white;
  min-height: 100vh;
}

.main-container {
  padding: 2rem 0;
}
.buttons-selection {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
  outline: none;
  border-radius: 0.5rem 0.5rem 0px 0px;
  user-select: none;
}
.active {
  color: #616161;
  background: yellowgreen;
  pointer-events: none;
}
.forms-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  border: 1px solid;
  padding: 1rem 1.5rem;
}

form {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.search-form input,
.options-form select,
.data-filter-form select {
  height: 2rem;
  padding: 0.5rem 0.7rem;
  width: 100%;
}

.options-form select,
.data-filter-form select {
  width: max-content;
}

.data-filter-form {
  padding-left: 2rem;
}
.data-filter-form label {
  text-transform: capitalize;
}
.table-container {
  overflow-x: scroll;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.industrias-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.industrias-header {
  display: flex;
  width: 100%;
  background: #242424;
  justify-content: space-between;
  padding: 1rem 2rem;
  cursor: pointer;
}

.industrias-table-container {
  overflow: hidden;
}

.industrias-table {
  transform: translateY(-100%);
  opacity: 0;
  animation: slide-in 0.5s forwards ease;
}
@keyframes slide-in {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

table,
td,
th {
  border: 1px solid;
}

tr td span {
  background: greenyellow;
  color: #616161;
  font-weight: bold;
  text-transform: none;
}

td,
th {
  padding: 10px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}
